html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.homepage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.homepage-h1 {
  color: white;
  letter-spacing: 5px;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.homepage-left {
  width: 500px;
  height: 100px;
  align-items: center;
}

.homepage-right {
  width: 500px;
  height: 100px;
}

.homepage-line-left {
  position: relative;
  bottom: 50%;
  background-color: white;
  height: 1.5px;
  width: 500px;
  /*z-index: 1;*/
}

.homepage-line-right {
  position: relative;
  bottom: 50%;
  position: absolute;
  background-color: white;
  height: 1.5px;
  width: 500px;
}

.homepage-dots-left {
  display: flex;
  height: 100%;
  align-items: center;
  width: 500px;
  justify-content: space-evenly;
  z-index: 10;
}

.homepage-dots-right {
  height: 100%;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in, 0.65s;
  /*transition-timing-function: ease-in;*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  font-size: 12px;
  z-index: 20;
  
}

.homepage-dot:hover {
  display: flex;
  transition: ease-in, 0.65s;
  width: 75px;
  height: 75px;
  /*visibility: visible;*/
}

.dot-title {
  display: flex;
  opacity: 0;
  color: black;
  transition: ease-out, 0.2s;
  font-size: 9.5px;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 25;
  
}

.dot-title:hover {
  opacity: 1;
  transition: ease-out, 0.66s;
  font-size: 12px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: 25;
}

/*.dot-title:hover {*/
/*  display: inherit;*/
/*  color: black;*/
/*}*/